/* Μην αλλάξετε τα παρακάτω: */

html {
    font-size: 10px;
}

body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.8em / 1.8 Arial, Helvetica, sans-serif;
}

.logo {
    font-size: 2em;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
}

.grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
}

nav {
    background-color: #000;
    padding: .5em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    padding: .5em 1em;
}

.photos {
    margin: 0;
    padding: 0;
}


/* Απαντήστε από εδώ και κάτω: */


/* Ερώτηση 1 */

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
}


/* Ερώτηση 2 */

nav {
    position: sticky;
    top: 0px;
}


/* Ερώτηση 3 */

.feature {
    max-width: 200px;
    min-width: 50%;
    float: left;
    margin: 0 15px 0 0;
}


/* Ερώτηση 4 */

.photos {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    line-height: 0;
    list-style: none;
}

.photos li {
    flex-basis: 48%;
    flex-grow: 1;
}

.photos img {
    width: 100%;
}


/* Ερώτηση 5 */



.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}


/* Ερώτηση 6 */


 h1 {
    text-transform: uppercase;
}

article>p {
    text-align: justify;
    hyphens: auto;
    line-height: 1.2;
}