<!DOCTYPE html>
<html lang="el">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sent from server (v215)</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        label, input, output, #knowledge, legend, select, textarea, #message{
            margin: 0.5em;
            padding: 0.2em;
            font-size: 1em;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 5px;
        }
        output {
            border: 1px solid black;
        }
        label.range {
            display: inline-block;
            width: 5em;
            text-align: right;
        }
        fieldset {
            margin-top: 2em;
        }
        legend {
            background-color: #000;
            color: #ffffff;
        }
        input[type=submit] {
            background-color: #00bb00;
        }
        textarea {
            background-color: #fafafa;
            /* resize: none; */
        }
        #charsLeft {
            color: #ababab;
            font-size: 0.8em;
            border: none;
        }
        #message {
            border: none;
        }
        #age {
            background-color:#efefef;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>